<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModelLayer.Properties.Settings.DB_9AB8B7_D18ES6899ConnectionString"
            connectionString="Data Source=SQL5020.mywindowshosting.com;Initial Catalog=DB_9AB8B7_D18ES6899;User ID=DB_9AB8B7_D18ES6899_admin;Password=PM3bh7Kx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>