<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModelLayer.Properties.Settings.UserData" connectionString="Data Source=SQL5017.site4now.net;Initial Catalog=DB_9AB8B7_D19ES6822;User ID=DB_9AB8B7_D19ES6822_admin;Password=uYQG2jDh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>